<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mordecai simple webpage</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, facilis.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores consectetur quidem omnis magni laborum similique vero! Optio veniam vel consequatur quo maiores eum pariatur culpa. Enim consequuntur totam sit, praesentium saepe pariatur facilis asperiores accusantium. Enim rem iste quod minima aliquam molestias facilis quis, illum, blanditiis quo in, officia laborum repudiandae cupiditate voluptatibus. Cum similique adipisci magnam ea fuga mollitia qui delectus enim quasi, et voluptas dolorem culpa temporibus optio fugiat. Quo, ab natus? Reiciendis iusto in sint nihil animi quaerat ducimus quam saepe iure modi veniam unde officiis hic voluptatem at magni natus, ut nesciunt enim ipsa. Eius, magni!</p>
</body>
</html>